@page
@model Todo.Pages.AboutModel
@{
	ViewData["Title"] = "About Us";
}

<div class="px-4 py-4 my-5">
	<h1 class="display-4">@ViewData["Title"]</h1>

	<p>
		Welcome to our Todo List Management website, where you can easily keep track of your daily tasks and responsibilities. We are a team of dedicated individuals who are passionate about providing a simple, yet effective solution to help you stay organized and on top of your to-do list.
	</p>
	<p>
		Our website allows you to create an account, sign in, add to-do lists, and manage your tasks with ease. We believe in keeping things simple and straightforward, and our user-friendly interface makes it easy for you to get started.
	</p>
	<p>
		We are committed to constantly improving our services and delivering the best user experience possible. Our goal is to help you stay organized and focused on what's important in your life, whether it's for personal or professional use.
	</p>
</div>