@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="px-4 py-4 my-5">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>
        At Todo List Management, we understand the importance of privacy and are committed to protecting your personal information. This Privacy Policy outlines the types of information we collect, how we use it, and the measures we take to ensure its security.
    </p>
    <p>
        <h3>Information Collection</h3>

        We collect information from our users in several ways, including:
        <ul>
            <li>Information provided during registration: When you sign up for an account, we ask for basic information such as your name and email address.</li>
            <li>Information provided while using the service: As you use our website and add to-do lists, we collect information about your use of the service.</li>
            <li>Cookies: We use cookies to keep track of your session and improve your experience on our website.</li>
        </ul>
    </p>
    <p>
        <h3>Information Use</h3>
        The information we collect is used to provide and improve our services, communicate with you, and understand how you use the website. We do not sell or rent your information to third parties.
    </p>
    <p>
        <h3>Security Measures</h3>
        We take security seriously and have implemented appropriate technical and organizational measures to protect your information from unauthorized access, alteration, disclosure, or destruction.
    </p>
</div>
